<html>
	<head>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/prima.css">
	</head>
	<title>
		CIXX
	</title>
	<body>
		<div class="text-center">
			<label id='title'>LIXXI CINEMAS</label>
		</div>
		<form class='form-inline selectionForm'>
			<div class="form-group required">
				<label for="name">Nama:</label>
				<input type="text" class="form-control" id='name' placeholder="Akmal Zulfikar" required="required"/>
			</div>
			<div class="form-group required">
				<label for="seats">Jumlah Kursi:</label>
				<input type="number" id='seats' class="form-control" placeholder="5" required="required"/>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary btn-lg submitBtn" id="submitSelection">Konfirmasi Pilihan</button>
			</div>
			<div class="text-center">
				<font color="Red"><label class="error"></label></font>
			</div>
		</form>
		<div class="screen-ui">
			<div id="screen">
				<font color="white">SCREEN</font>		
			</div>
			
			<table class="table" id="table-screen">
				<thead id="screen-head">
					<tr>
						<script type="text/template" id='table-screen-header'>
			   				<% _.each(_.range(0,columns+1),function(item){ %>
			   					<% if(item==0) {%>
			            			<th></th>
			            		<% } else {%>
			            			<th><%= item %></th>
			            		<% } %>
			    			<% }) %>
			    		</script>
		    		</tr>
		    	</thead>
		    	<tbody id="screen-body">
		    		<script type="text/template" id='table-screen-body'>
		    			<% _.each(rows,function(row){ %>
		    				<tr id='table-screen-row'>
		    					<td><%=row%></td>
		    					<% _.each(_.range(1,columns+1),function(column){ %>
		    						<% var id=(_.indexOf(rows,row)*columns)+column; var reservedSeats=JSON.parse(localStorage.getItem('ReservedSeats')); if(reservedSeats!=null && _.indexOf(reservedSeats,String(id))!=-1) {%>
			            				<td><img src="img/reserved-seat.png" class="reserved-seat" id="<%=id%>"/></td>
			            			<% }else {%>
			            				<td><img src="img/empty-seat.png" class="empty-seat" id="<%=id%>"/></td>		       
			            			<% }}) %>
	    					</tr>
	    				<% }) %>
					</script>	
		    	</tbody>
			</table>

			<div class="text-center">
				<button type="button" class="btn btn-primary btn-lg submitBtn" id="confirmSelection">Confirm Selection</button>
				<div class="screen-map">
				<label for="empty-seat-map">Selected Seat</label>
				<img src="img/booked-seat.png" class="booked-seat-map" id="booked-seat-map">
				<br/>
				<label for="">Reserved Seat</label>
				<img src="img/reserved-seat.png" class="reserved-seat-map" id="reserved-seat-map">
				<br/>
				<label for="">Empty Seat</label>
				<img src="img/empty-seat.png" class="empty-seat-map" id="empty-seat-map">
			</div>	
			</div>
					
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nama</th>
						<th>Jumlah kursi</th>
						<th>Kode kursi</th>
						<th>Harga (Rp)</th>
					</tr>
				</thead>
				<tbody id="ticket-sold-info">
					<script type="text/template" id='table-ticket-info'>
						<% _.each(items,function(item){%>
							<tr>
								<td><%-item.names%></td>
								<td><%-item.numbers%></td>
								<td><%-item.seats%></td>
								<td><%-item.numbers*41000%></td>
							</tr>
						<%})%>
					</script>
				</tbody>
			</table>
			<button type="reset" value="reset" onclick="reset()">Reset</button>
			<script type="text/javascript">
				function reset() {
					var elem = document.getElementById("ticket-sold-info");
					elem.parentNode.removeChild(elem);
					localStorage.clear();
				}
			</script>
		</div>
	</body>
	<script type="text/javascript" src="js/prima.js"></script>
</html>